{% include 'clubapp/navbar.html' %}

    <style>
        .myBODY {
            margin-top:100px;
            padding: 24px;
            font-family: 'Source Sans Pro', sans-serif;
            direction: rtl;
        }
        
        .booking-info {
            width: 50%; 
            box-sizing: border-box; 
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
        }
        
        .booking-info h3 {
            direction: rtl;
            margin-top: 0;
        }
        
        .booking-info p {
            margin: 0;
            padding: 5px 0;
            direction: rtl;
        }
        
        .booking-info label {
            font-weight: bold;
        }
    </style>
<div class="myBODY">
    <h3 class="text-center">مطالب القاعات</h3>

        {% for مطلب in list %}
        <div class="booking-info">
            <p><label> القاعة : </label> {{ مطلب.القاعة }}</p>
            <p><label>اسم النادي أو المنظمة : </label> {{ مطلب.اسم_النادي_أو_المنظمة }}</p>
            <p><label>اسم ولقب رئيس النادي أو المنظمة :</label> {{ مطلب.اسم_و_لقب_رئيس_النادي_أو_المنظمة }}</p>
            <p><label>الموضوع: </label> {{ مطلب.الموضوع }}</p>
            <p><label> اليوم والتوقيت : </label> {{ مطلب.اليوم_و_التوقيت }}</p>
            <p><label>ادارة النشاط الثقافي : </label> {{ مطلب.ادارة_النشاط_الثقافي }}</p>
            <p><label>اسم الاستاذ المشرف : </label> {{ مطلب.اسم_الاستاذ_المشرف }}</p>
            <p><label>رقم الهاتف : </label> {{ مطلب.رقم_الهاتف }}</p>

        </div>
        {% endfor %}
</div>


