{% include "clubapp/navbar.html" %}
<div style="margin-top:80px;" class="text-center">
        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>
                    <a href="{% url 'demande-de-salle' %}">
                        <button style="width:90%" class="btn btn-success m-2 mt-5">مطلب حجز قاعة</button>
                    </a>
                </td>
                <td>
                    <i class="bi bi-trash text-danger"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'demande-evenement' %}">
                        <button style="width:90%" class="btn btn-success m-2">مطلب نشاط</button>
                    </a>
                </td>
                <td>
                    <i class="bi bi-trash text-danger"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">
                        <button style="width:90%" class="btn btn-success m-2">محضر إستلام و تسليم مفر</button>
                    </a>
                </td>
                <td>
                    <i class="bi bi-trash text-danger"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">
                        <button style="width:90%" class="btn btn-success m-2">أحكام خاصة بالنشاط الثقافي</button>
                    </a>
                </td>
                <td>
                    <i class="bi bi-trash text-danger"></i>
                </td>
            </tr>
        </table>