{% load static %}

<!DOCTYPE html>
<html lang="ar">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <style type="text/css">
        @font-face {
            font-family: 'DejaVu Sans';
            src: url('C:\Users\emnaa\Fonts\DejaVuSans.ttf');
        }
        body {
            font-weight: 200;
            font-size: 14px;
            font-family: 'DejaVu Sans';
        }
    </style>

</head>

<body>
    <pdf:language name="arabic"/>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
    <p class="matlab">أمنة</p>
v

</body>
</html>
